<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document List</title>
    {% load static %}
</head>

<body>
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        <div class="container">
            <!-- Sidebar -->
            <div class="sidebar">
                <input type="text" placeholder="Search..." />
                <a href="#">Notes</a>
                <a href="#">Rendered</a>
 
                {% csrf_token %}
                <button type="submit">Logout</button>
            </div>

            <!-- Main content area -->
            <div class="main-content">
                <h2>Subject</h2>
                <div class="card-grid">
                    <!-- Cards -->
                    {% for note in documents %}
                    <div class="card">
                        <div class="badge"></div>
                        <div class="card-footer">
                            <p><strong>note.title</strong></p>
                            <p>note.updated_at</p>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Add more cards as needed -->
                </div>
            </div>

            <!-- Floating button -->
            <div class="floating-button"></div>
        </div>
        </div>
    </form>
</body>

</html>