<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% load static %}
        <title>Website Layout</title>
        <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    </head>

    <body>
        <div class="container">
            <div class="top-bar">
                <div class="icon"></div>
                <div
                    class="toolbar"
                    id="main-toolbox">
                    <button
                        class="button"
                        id="penButton">
                        <img
                            src="{% static 'icons\pen-line-svgrepo-com.svg' %}"
                            style="height: 1" />
                    </button>
                    <button
                        class="button"
                        id="eraserButton">
                        <img
                            src="{% static 'icons\eraser-svgrepo-com.svg' %}"
                            style="height: 1" />
                    </button>
                    <button
                        class="button"
                        id="undoButton">
                        <img
                            src="{% static 'icons\undo-left-round-svgrepo-com.svg' %}"
                            style="height: 1" />
                    </button>
                    <button
                        class="button"
                        id="redoButton">
                        <img
                            src="{% static 'icons\undo-right-round-svgrepo-com.svg' %}"
                            style="height: 1" />
                    </button>
                    <button
                        class="button"
                        id="downloadButton">
                        <img
                            src="{% static 'icons\upload-minimalistic-svgrepo-com.svg' %}"
                            style="height: 1" />
                    </button>
                </div>

                <div
                    class="toolbar"
                    id="hidden-tools"
                    style="display: none">
                    <div class="button">
                        <img
                            src="{% static 'icons/split-two-svgrepo-com.svg' %}"
                            style="height: 1" />
                    </div>
                </div>

                <div
                    class="toggle"
                    onclick="toggleSwitch(this)"
                    id="preview-toggle"
                    style="background-color: #ffffff">
                    <div class="circle"></div>
                </div>
            </div>
            <div
                class="render-preview"
                id="hidden-preview">
                <div id="main-render"></div>

                <div
                    id="main-source"
                    style="display: none"></div>
            </div>
            <div
                class="canvas"
                id="view-canvas">
                <canvas id="drawCanvas"></canvas>
            </div>
        </div>

        <script src="{% static 'js/form.js' %}"></script>
    </body>
</html>
